.section {
    display: none;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
}

.row {
    margin-bottom: 0;
}

.ck-content {
    height: 130px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.login {
    margin-top: 70px;
    margin-bottom: 70px;
}

.login .input-field .prefix.active {
    color: #FFF;
}

.login .input-field input:focus {
    border-bottom-color: #FFF !important;
    box-shadow: 0 1px 0 0 #FFF !important;
}

.btn-extended {
    display: block;
    width: 80%;
    margin: 20px auto;
}